.course {
    transition: transform 5s;
    overflow: hidden;

}




.btn, .heart {
    transition: transform 1s, opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.course:hover .btn, .course:hover .heart  {
    opacity: 1;
    transform: translateY(0%);
}
.icon :hover{
    transform: scale(1.1);
}
.layer{
    transition:  transform 1s;
    transform: translateY(-100%);
}
.course:hover .layer {
    transform: translateY(0%);
}